.App {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
}

.App h1 {
  margin: 0;
  text-align: center;
}


/* layout the four days after today horizontally */

.small-days {
  overflow: hidden;
}

.small-days .weather-day {
  float: left;
  width: 25%;
}
